*{
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #140C1F;
    --btn-color: #AD1AAF;
}

a{
    text-decoration: none;
    color: #ffff;
}

.container {
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    position: relative;
    padding: 35px 121px;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 650px;
    height: 65px;
    gap: 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(20.8333px);
}

.logo a{
    display: flex;
    align-items: center;
}

.logo a h1 {
    font-family: 'Oxanium';
}

.logo .logo-img {
    height: 53px;
    width: 53px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-prople {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* --------------------Connect Wallect Button Edit--------------------- */
.connect {
    height: 43px;
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.group4 {
    width: 14px;
    height: 43px;
    position: relative;
    border: none;
}

.rect1 {
    position: absolute;
    width: 4px;
    height: 22px;
    left: 0px;
    top: 10px;
    background: var(--btn-color);
}

.rect2 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 8px;
    height: 43px;
    left: 6px;
    top: 0px;
    border: none;
    background: linear-gradient(142.65deg, #AD1AAF 156.78%, #AD1AAF 725.24%, #AD1AAF 1073.96%);
}

.rect2-block {
    height: 32px;
    width: 3px;
    background: var(--bg-color);
}

.group5 {
    width: 14px;
    height: 43px;
    border: none;
    position: relative;
}

.group5 .rect1 {
    position: absolute;
    width: 4px;
    height: 22px;
    left: 8px;
    top: 10px;
    background: var(--btn-color);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.group5 .rect2 {
    left: 0px;
    height: 42px;
    background: linear-gradient(142.65deg, #AD1AAF 156.78%, #AD1AAF 725.24%, #AD1AAF 1073.96%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.text-connect {
    height: 43px;
    background: var(--btn-color);
    display: flex;
}

.text-connect button {
    background: var(--btn-color);
    cursor: pointer;
    color: #ffff;
    border: none;
}


